<div class="container">
  <div class="row" *ngIf="mostrarPiada; else piadaUnica">
    <div class="col-md-6" *ngFor="let piada of blocoPiada">
      <div class="jumbotron">
        <h1 class="display-4">Albert Einstein</h1>
        <p class="lead">O que a esposa do Albert Einstein disse quando ele tirou a roupa na sua lua de mel?</p>
        <hr class="my-4">
        <button (click)="esconderPiada()" type="button" class="btn btn-outline-dark">O que?</button>
      </div>
    </div>
  </div>
</div>
<ng-template #piadaUnica>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="display-4">Que físico!</h1>
        <p class="lead">Gostou da piada?</p>
        <hr class="my-4">
        <button (click)="mostrarAlerta()" type="button" class="btn btn-outline-warning">sim</button>
      </div>
    </div>
  </div>
</ng-template>